body {
    text-align: center;
    font-family: 'Dosis', sans-serif;
}

.list {
    list-style: none;
    text-align: left;
    font-family: 'Cinzel', serif;
}

p {
    font-family: 'Dosis', sans-serif;
}

a {
    text-decoration: none;
}

button {
    
}

#wikiSearchButton {
    background-color: white;
    color: black;
    border: 1px solid #555555;
    cursor: pointer;
}
